<a href ="Youtube.com/" target="_self">My video self</a>
<a href ="Youtube.com/" target="_blank">My video blank</a>
<a href ="Youtube.com/" target="_top">My video top</a>
<a href ="Youtube.com/" target="_parent">My video parent</a>

<head>
    <base href="https://www.youtube.com/user/">
</head>
<body>
    <a href="CNN">CNN</a>
    <a href="BBC">BBC</a>
    <a href="NationalGeographic">National Geographic</a>
</body>
