<b>bold</b>
<i>Italicize</i>
<u>underline</u>
<mark>Marked text</mark>
<abbr>abbeviation</abbr>
<abbr title="Hyper Text Markup Language">HTML</abbr>
<p>My favorite color is <del>Blue</del><ins>Red</ins>!</p>
<p>On the 4<sup>th</sup> of September</p>
<p>The amount of CO<sub>2</sub> in the atmosphere grew by 2 ppm in 2009.</p>
<blockquote>Indicates long quotations xxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,x,xx, x, x,x ,x,xxc,xcadasdasdasdsad sd asd sadasdasdadasd eg fg sdf gsdf gdggsdgsdgaegwerwragsdg sdfgsdfgsdgsdgsdfgsdfgsdfglkjeltrkewjrçlksrejçelktjeçlrkj çlk,j lçk.jlçkf.jdmlfçk,jasçldkfj çlk.,jdçl fkjlç kj mlçk jçlk jlkj</blockquote>

<p><q>Indicates short quotatios </q></p>

<p><cite>A Bried History of Time</cite> by Stephen Hawking has sold over ten million copies worldwide.</p>

