body {
	font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 960px;
}

h1, h2, h3 {
	color: brown;
}

ul{
	list-style-image: url("images/tiny-coffee-cup.gif");
    padding: 0px;
}

a:link, a:visited {
	text-decoration: none;
	color: brown;
	font-weight: bold;
}

a:hover {
	color:black;
}

nav ul {
	list-style-type:none;
    margin: 0;
}

nav li {
	display: inline;
    float: left;
    /*It makes all the difference*/
}

nav a:link, nav a:visited {
	background-color: brown;
	color: white;
    display: block;
    width: 160px;
    text-align: center;
    padding: 10px 0;
}

nav a:hover {
	background-color:black;
}

aside {
    width: 280px;
    float: right;
    background-color: tan;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-left: 10px;
}

.photo-left{
    float: left;
    margin-right: 10px;
}

.photo-right{
    float: right;
    margin-left: 10px;
}

p {
    text-align: justify
}

header{
    background-image: url("images/coffee-beans.jpg");
    height: 150px;
    margin-bottom: 30px;
    float: left
}

header h1 {
    color: rgba(256,256,256,.8);
    margin-left: 10px;
    margin-top: 30px;
    font-size: 50px;
}

footer{
    margin: 40px 0;
}

footer nav a:link, footer nav a:visited{
    color: gray;
    text-decoration: none;
    width: 160px;
    text-align: center;
    background-color: white;
}

footer nav a:hover{
    color:black;
}

td, th {
    border: 1px solid black;
    border-radius: 1;
    width: 20%;
    text-align: center;
    padding: 5px;
}

table{
    /*border-spacing: 0px;*/
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: lightgrey;
}
video{
    margin-bottom: 30px;
    margin-left: 160px;
    filter: grayscale(100%);
}