<>
<>
	<>
		<>
		<>Styles<>
		<>link css
		<>
			body{
			font-size: 24px;
			font-family:Arial,Helvetica,San-Serif ;
			}
			p{
			text-align: justify;
			}
			h1{
			text-align: center;
			}
			ol{
			list-style-type:upper-alpha
			}
			ul{
			list-style-image:url("star.gif");
			list-style-type: none;			
			}
			.blu-para{
			color:blue;
			}
			#main-heading{
			color:green;
			}
			.special-words{
			color: green;
			}
			.group{
			font-style: italic;
			}
			.group h2{
			color: red;
			}
		<>
	<>

	<>

		<h1 style="text-align: right;" id="main-heading">A Heading</h1>
		<>A Sub Heading<>

		<>
		style="font-size:24px;"
		style="font-size: xx-small;"
		style="font-size: x-small;"
		style="font-size: medium;"
		style="font-size: large;"
		style="font-size: x-large;"
		style="font-size: xx-large;"
		style="font-size:1.5em;"
		style="font-size:125%;"

		Lorem ipsum dolor sit amet, <span class="special-words">consectetur adipiscing elit</span>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		 <p style="font-size: 1.5em;color:#ff0000;">
		 Nam feugiat est varius sem auctor, vitae dictum augue laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent quam ex, placerat a urna sed, vulputate commodo enim. Nullam imperdiet lorem mauris, nec finibus purus finibus eget. Vestibulum lacinia nisi sed eleifend mollis. Cras eleifend sit amet sem a luctus. Morbi commodo, dolor vel blandit interdum, orci lacus varius ipsum, vel viverra orci erat at nibh. Nunc dignissim purus risus, eu facilisis justo mattis a. Vivamus ex urna, rutrum ac lectus vel, molestie vulputate nisi. Quisque lacinia interdum laoreet.
		 </p>
		 
		<h1>A Heading</h1>
		<h2>A Sub Heading</h2>

		<p style="text-align: justify; font-size:1.2em">Mauris et feugiat sapien. Aliquam erat ligula, condimentum id velit at, porta suscipit sem. Integer pharetra ipsum non nibh finibus, sit amet rutrum purus condimentum. Nullam imperdiet sodales lorem, nec aliquam diam mattis quis. Phasellus congue rutrum nisl, eu efficitur ipsum dictum id. Vestibulum vel diam et ex accumsan aliquet et vel quam. Donec tristique ultrices tellus eu viverra. Phasellus pulvinar non lacus in iaculis. Sed condimentum velit odio, vel auctor sapien vestibulum eget. Curabitur quis purus bibendum nisl fringilla iaculis at a quam. Nulla venenatis pellentesque enim non faucibus. Aenean eu mattis libero, sit amet tempor eros. Duis sit amet pulvinar ipsum. Proin et suscipit ligula. Vestibulum lobortis laoreet laoreet.</p> 

		<ol>
			<li>item 1</li>
			<li>item 2</li>
			<li>item 3</li>
			<li>item 4</li>
		</ol>

		<section>
			<h1>Lorem Ipsum</h1>

			<p style="font-size: 1.5 rem;color:rgb(256,0,0)">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
			"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum non nisl eget posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas efficitur felis eget diam sollicitudin dictum. Ut id vulputate lectus. Sed euismod eu elit nec fermentum. Nulla accumsan nibh non blandit lacinia. In in arcu eros. Praesent quis aliquet mi. Aliquam eu egestas urna, eu accumsan urna.</p>

			<p style="font-size: 1.5 rem;color:hsl(120,60%,70%)">Quisque ullamcorper, odio id sollicitudin ullamcorper, lectus odio mollis nulla, quis placerat sapien mauris vitae elit. Maecenas semper nunc sed vestibulum posuere. Donec eleifend tortor quis efficitur lobortis. Sed lacinia felis non consectetur rutrum. Praesent feugiat, sem at placerat suscipit, tellus nibh bibendum turpis, id tincidunt lacus dui in odio. Ut auctor at est et aliquet. Mauris congue nunc risus, sed volutpat dui pretium ac. Phasellus id ultrices eros. In vestibulum, turpis vitae gravida vestibulum, justo est porttitor velit, in consectetur urna odio non massa. Cras posuere ullamcorper imperdiet.</p>
			
			<ul>
				<li>item 1</li>
				<li class="blu-para">item 2</li>
				<li>item 3</li>
				<li>item 4</li>
			</ul>

			<p style="color:rgba(256,0,0,.7)">Vestibulum sapien est, pellentesque eu hendrerit vel, suscipit ut nunc. Mauris ullamcorper massa in dui vulputate finibus. Nunc mattis lectus non nibh consectetur, et vestibulum sem ullamcorper. In egestas vestibulum mauris sed vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin ipsum justo, iaculis consectetur interdum nec, faucibus sed lacus. Cras mi odio, dictum sed varius hendrerit, imperdiet vitae est. Quisque auctor leo vitae tellus mollis, ut porta turpis posuere. Integer ultricies enim nec justo feugiat, et rhoncus massa auctor. Cras quis lobortis enim, eget feugiat nisi. Sed eu nibh velit.</p>

			<div class="group">
				<h2>Heading h2 test</h2>
				<p>Donec sem ipsum, tempus blandit nibh nec, semper viverra elit. Integer vitae enim vitae tortor condimentum pharetra eu sit amet elit. Ut at lorem ac justo mattis ultricies. Nullam lectus nunc, dignissim eu velit sollicitudin, sodales iaculis sem. Nullam in facilisis felis. Aliquam porttitor lobortis diam, sed commodo urna porta quis. Phasellus consectetur condimentum ex nec porttitor. Nam euismod tincidunt orci, sed tristique arcu tincidunt in. Curabitur non nulla sit amet nunc fermentum convallis. Donec ac lectus ac arcu pellentesque semper. Donec nec risus sollicitudin, placerat lorem nec, tempus felis. Ut ex ligula, aliquet a vehicula eu, varius in quam.</p>
			</div>

			<p class="blu-para">Ut semper quam leo, sed malesuada sem maximus dignissim. Suspendisse malesuada maximus turpis sit amet aliquet. Proin tellus ante, iaculis et semper eget, mattis at ipsum. Vestibulum imperdiet rutrum varius. Nulla pretium nisi non ornare mattis. Mauris laoreet elementum bibendum. Nam auctor quis quam quis lobortis. Sed tempus turpis sed laoreet varius. Mauris tempor dapibus fermentum.</p>
		<>
	<>
<>
