nav ul{
   list-style-type: none;
   padding: 0;
}
nav li {
    display: inline;
    float: left;
}
nav a:link, nav a:visited{
    background-color: blue;
    color: whitesmoke;
    display: block;
    width: 160px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}
nav a:hover{
    background-color: lightblue;
    color: darkblue;
}
.lorem {
    text-align: justify;
}
header{
    background-image: url("Tags.jfif");
    width: fit-content;
    height: 200px;
}
header h1{
    color: white;
    text-transform: uppercase;
    background-color: black;
}
body{
    margin-left: 30px;
    margin-right: 30px;
}